/* 
    Document   : style
    Created on : Oct 23, 2013, 8:59:51 AM
    Author     : faheem
    Description:
        Purpose of the stylesheet follows.
*/

/*style.css*/
.gridJurnalStyle {
    border: 1px solid rgb(212,212,212);
    position:relative;
    height: 250px
}

