<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3>{{title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="formEdit">
        <div class="form-group row">
            <div class="checkbox col-sm-5">
                <label class="col-sm-5">
                    <input type="checkbox" id="active" name="active" placeholder="Active" ng-model="$parent.currentCoa.active">Active
                </label>
            </div>
            <div class="checkbox col-sm-7">
                <label>
                    <input type="checkbox" id="isBudget" name="isBudget" placeholder="Active" ng-model="$parent.currentCoa.isBudget"> Kelompok Anggaran
                </label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': formEdit.accNo.$invalid}">
            <label class="control-label col-sm-2" for="accNo" >Acc No</label>
            <div class="col-sm-8" >
                <input type="text" id="accNo" name="accNo" placeholder="No. Akun" class="form-control"
                       ng-model="$parent.currentCoa.accNo" ng-disabled="original.accNo.length > 0" required ui-validate="accNoAvailable: isAccNoAvailable"/>
                <span ng-show="formEdit.accNo.$error.required" class="help-inline">Harus diisi</span>
                <span ng-show="formEdit.accNo.$error.accNoAvailable" class="help-inline">Sudah dipakai</span>
            </div>
        </div>
        <div class="form-group"  ng-class="{'has-error': formEdit.accName.$invalid}">
            <label class="control-label col-sm-2 left" for="accName">Keterangan</label>
            <div class="col-sm-10">
                <input type="text" class="form-control col-sm-12" id="accName" name="accName" placeholder="Keterangan Akun" 
                       ng-model="$parent.currentCoa.accName" 
                       required ui-validate="">

                <span ng-show="formEdit.accName.$error.required" class="help-inline">Harus diisi</span>
                <span ng-show="formEdit.accName.$error.accNameAvailable" class="help-inline">Sudah dipakai</span>
            </div>
        </div>
        <div class="form-group"  ng-class="{'has-error': formEdit.officeId.$invalid}">
            <label class="control-label col-sm-2 left" for="officeId">Kantor</label>
            <select ui-select2 class="col-sm-10" ng-model="$parent.currentCoa.office.id" data-placeholder="Pilih kantor" id="officeId">
                <option value=""></option>
                <option ng-repeat="o in officeList" value="{{o.id}}">{{o.name}}</option>
            </select>
            <span ng-show="formEdit.officeId.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="form-group"  ng-class="{'has-error': formEdit.typeId.$invalid}">
            <label class="control-label col-sm-2 left" for="typeId">Tipe</label>
            <select id="typeId" ui-select2 data-placeholder="Pilih Jenis CoA" class="col-sm-10" ng-model="$parent.currentCoa.accType.typeId" ng-required>
                <option value=""></option>
                <option ng-repeat="t in accTypeList" value="{{t.typeId}}">{{t.typeName}}</option>
            </select> 
            <span ng-show="formEdit.typeId.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="form-group"  ng-class="{'has-error': formEdit.currency.$invalid}">
            <label class="control-label col-sm-2 left" for="currency">Currency</label>
            <select id="currency" ui-select2 data-placeholder="Pilih Mata Uang" class="col-sm-10" 
                    ng-model="$parent.currentCoa.currency.id" >
                <option value=""></option>
                <option ng-repeat="c in currencyList" value="{{c.id}}">{{c.id}}</option>
            </select> 
            <span ng-show="formEdit.currency.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="memo">Ket:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="memo" name="memo" ng-model="$parent.currentCoa.memo">
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary glyphicon glyphicon-check" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Save</button>
    <button class="btn btn-warning glyphicon glyphicon-remove" ng-click="cancel()">Cancel</button>
</div>