<div class="row-fluid sortable">		
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i> Chart of Account</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div>
            <a class="btn btn-primary" ng-click="baru()"><i class="icon-plus icon-white"></i> Tambah</a>
        </div>
        <div class="box-content" id="coa-list">

            <table class="table table-striped table-bordered" id="example">
                <thead>
                    <tr>
                        <th>No. Akun</th>
                        <th>Keterangan</th>
                        <th>Tipe</th>
                        <th>Groups</th>
                        <th>Actions</th>
                    </tr>
                </thead>   
                <tbody>
                    <tr ng-repeat="c in coaPage.content | orderBy:accNo">
                        <td>{{c.accNo}}</td>
                        <td>{{c.accName}}</td>
                        <td>{{c.accGroup.typeName}}</td>
                        <td>{{c.accGroup.groupName}}</td>
                        <td class="center">
                            <a >
                                <i class="icon-zoom-in"></i>  
                                View                                            
                            </a>
                            <a ng-click="edit(c)">
                                <i class="icon-edit"></i>  
                                Edit                                            
                            </a>
                            <a ng-click="remove(c)">
                                <i class="icon-trash"></i> 
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="pagination pagination-centered">
            <ul>
                <li><a ng-click="reloadCoaPage(1)">First</a></li>
                <li ng-class="{disabled: coaPage.firstPage}">
                    <a ng-click="reloadCoaPage(coaPage.number - 1)">
                        Prev
                    </a>
                </li>
                <li ng-repeat="p in pages">
                    <a ng-click="reloadCoaPage(p)">{{p}}</a>
                </li>
                <li ng-class="{disabled: coaPage.lastPage}">
                    <a ng-click="reloadCoaPage(coaPage.number + 1)">
                        Next
                    </a>
                </li>
                <li><a ng-click="reloadCoaPage(pages.length)">Last</a></li>
            </ul>
        </div>
    </div>
</div>
<div ui-modal class="fade" ng-model="showCoaDialog" id="dialogCoa">
    <div class="modal-header">
        <button type="button" class="close" ng-click="showCoaDialog=false">×</button>
        <h3>{{modalTitle}}</h3>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" name="formEdit">
            <div class="control-group" ng-class="{error: formEdit.accNo.$invalid}">
                <label class="control-label" for="accNo">Acc No: &nbsp;</label>
                <td><input type="text" id="accNo" name="accNo" placeholder="No. Akun" 
                           ng-model="currentCoa.accNo" required ng-disabled="oldAccNo" ui-validate="{accNoAvailable: isAccNoAvailable}">
                    <span ng-show="formEdit.accNo.$error.required" class="help-inline">Harus diisi</span>
                    <span ng-show="formEdit.accNo.$error.accNoAvailable" class="help-inline">Sudah dipakai</span>
            </div>
            <div class="control-group"  ng-class="{error: formEdit.accName.$invalid}">
                <label class="control-label" for="accName">Keterangan : &nbsp;</label>
                <input type="text" id="accName" name="accName" placeholder="Keterangan Akun" ng-model="currentCoa.accName" 
                       required ui-validate="{accNameAvailable: isAccNameAvailable}">
                <span ng-show="formEdit.accName.$error.required" class="help-inline">Harus diisi</span>
                <span ng-show="formEdit.accName.$error.accNameAvailable" class="help-inline">Sudah dipakai</span>
            </div>
            <div class="control-group" ng-class="{error: formEdit.typeId.$invalid}">
                <label class="control-label" for="typeId">Tipe : &nbsp;</label>
                <select ui-select2 ng-model="currentCoa.accGroup.typeId" data-placeholder="-- Select One --" width="200">
                    <option></option>
                    <option ng-repeat="t in accType" value="{{t.typeId}}">{{t.typeName}}</option>
                </select>
                <span ng-show="formEdit.typeId.$error.required" class="help-inline">Harus diisi</span>
            </div>
            <div class="control-group">
                <label class="control-label" for="active">Aktif</label>
                <input type="checkbox" id="active" name="active" placeholder="Active" ng-model="currentCoa.active">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn" ng-click="baru()">Batal</a>
        <a class="btn btn-primary" ng-click="simpan()"  ng-disabled="isClean() || formEdit.$invalid">Simpan</a>
    </div>
</div>
